.chat-container{
   height: 100vh;
}

.user-list{
   padding-top: 1%;
   background-color: green;
   height: 100vh;
}

.content{
   height: 100vh;
}

.chat-table{
   padding-top: 1%;
   position: fixed;
   top:0;
   border: 10px;
   font-size: 18px;
}

.chat-box{
   position: fixed;
   bottom: 10%;
   width: 50%;
}

.chat-field{
   width: 80%;
}
